<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configurration status = "Debug">
    <Appenders>
        <Console name = "Console" target = "SYSTEM>OUT">
            <PatternLayout pattern = "%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n"/>
        </Console>
        <RollingFile name ="RollingFile" filename = "logs/application.log">
            <Policies>

            </Policies>
        </RollingFile>
    </Appenders>
</Configurration>